certifi==2022.12.7
charset-normalizer==3.1.0
idna==3.4
node==1.2
odict==1.9.0
plumber==1.7
requests==2.28.2
urllib3==1.26.15
zope.component==5.1.0
zope.deferredimport==4.4
zope.deprecation==4.4.0
zope.event==4.6
zope.hookable==5.4
zope.interface==5.5.2
zope.lifecycleevent==4.4
zope.proxy==5.0.0
